:root {
  font-size: 14pt;
  --green: #2e7d32;
  --light-green: #e8f5e9;
  --very-light-green: #f1f8f4;
  --border: #c8e6c9;
}

/*body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #2e2e2e;
}*/
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, #aaf582, #fff9db);
  color: #2e2e2e;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  background-color: #ffffff;
}

th, td {
  border: 1px solid var(--border);
  padding: 10px;
  text-align: center;
}

th {
  background-color: #faedac; 
  color: var(--green);           
  font-weight: bold;
}

tr:nth-child(even) td {
  background-color: var(--very-light-green);
}

.breadcrumb {
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;
  color: var(--green);
}

.breadcrumb li {
  display: inline;
  font-weight: bold;
}

.breadcrumb li::after {
  content: " > ";
  color: #999999;
}

.breadcrumb li:last-child::after {
  content: "";
}

.breadcrumb li:last-child {
  color: #378837; 
}
