<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カテゴリー編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>費目・カテゴリーを編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('category.category_list') }}">費目・カテゴリー一覧</a></li>
        <li>カテゴリー編集</li>
    </ul>

    <form action="{{ url_for('category.category_form', category_id=category.id) }}" method="post">
        
        <label>費目名: <input type="text" name="name" value="{{ category.name }}" required></label><br>
        
        <label>
            収支区分:
            <select name="type" required>
                <option value="0" {% if category.type == 0 %}selected{% endif %}>支出 (0)</option>
                <option value="1" {% if category.type == 1 %}selected{% endif %}>収入 (1)</option>
            </select>
        </label><br>
        
        <label>予算/目標額: <input type="number" step="1" name="budget" value="{{ category.budget }}" required></label><br>
        
        <button type="submit">保存</button>
    </form>
</body>
</html>