<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>家計簿システム</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base-style.css') }}"
    />
  </head>
  <body>
    <h1>家計簿システム</h1>
    <ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.user_list') }}"
            >ユーザー一覧</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category.category_list') }}"
            >費目一覧</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('order.order_list') }}"
            >記録一覧</a
          >
        </li>
      </ul>
    </ul>
  </body>
</html>
