<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>家計簿システム</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base-style.css') }}"
    />
  </head>
  <body>
    <h1>家計簿システム</h1>
    <ul>
      <li><a href="{{ url_for('user.user_list') }}">使用者（User）</a></li>

      <li>
        <a href="{{ url_for('category.category_list') }}">費目・カテゴリー</a>
      </li>

      <li>
        <a href="{{ url_for('order.order_list') }}">家計簿記録（Order）</a>
      </li>
    </ul>
  </body>
</html>
