<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>家計簿一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('record.list') }}">記録一覧</a></li>
    </ul>

    <a href="{{ url_for('record.add') }}">新規記録追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>ユーザー</th>
                <th>費目</th>
                <th>価格</th>
                <th>日付</th>
                <th>メモ</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td><a href="{{ url_for('record.edit', record_id=item.id) }}">編集</a></td>
                <td>{{ item.user.name }}</td>
                <td>{{ item.category.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.memo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>